<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="DbProvider" value="System.Data.SqlClient"/>
	</appSettings>

	<appSettings>
		<add name="StudentDatabase"  key ="DataBaseConnection" value="System.Data.SqlClient"
			 connectionString ="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;Connect Timeout=30;"
			 providerName="System.Data.SqlClient"/>
	</appSettings>
</configuration>